@model OrcamentoItemViewModel
@{
    ViewData["Title"] = "Cadastro de Itens de Orçamento";
}

<section class="section-padding section-bg">
    <div class="container text-center">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h3 class="mb-4 pb-2">Adicionar Item de Orcamento</h3>
            </div>
            <div class="col-lg-12 col-12">
                <h4 class="mb-4 pb-2 descricao-color">@Model.DescricaoOrcamento </h4>
            </div>

            <div class="col-lg-12 col-12">
                <form action="#" method="post" class="custom-form contact-form" role="form">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-floating">
                                <input type="text" name="local" id="local" class="form-control" placeholder="Estabelecimento"
                                    required="">

                                <label for="floatingInput">Estabelecimento</label>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-floating">
                                <input type="text" name="telefone" id="telefone" class="form-control"
                                    placeholder="Telefone" required="">

                                <label for="floatingInput">Telefone</label>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-floating">
                                <input type="text" name="responsavelOrcamento" id="responsavelOrcamento" class="form-control" placeholder="Responsavel pelo orçamento"
                                    required="">

                                <label for="floatingInput">Responsavel pelo orçamento</label>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-floating">
                                <input type="text" name="valor" id="valor" class="form-control"
                                    placeholder="Valor" required="">

                                <label for="floatingInput">Valor</label>
                            </div>
                        </div>

                        <div class="col-lg-12 col-12">                            
                            <div class="form-floating">
                                <textarea class="form-control" id="descricao" name="descricao"
                                    placeholder="Descricao"></textarea>

                                <label for="floatingTextarea">Observação</label>
                            </div>
                        </div>

                        <div class="col-lg-12 col-12 ms-auto">
                            <button type="submit" class="form-control">Adicionar à lista de Orçamentos</button>
                        </div>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</section>
