@model AuthenticationViewModel

<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-lg-5 me-lg-auto">
        <li class="nav-item">
            <a class="nav-link click-scroll" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        @if (Model.UserAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link click-scroll" asp-area="" asp-controller="Orcamento" asp-action="Index">Cadastro de Orçamentos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link click-scroll" asp-area="" asp-controller="Orcamento" asp-action="List">Lista de Orçamentos</a>
            </li>
        }
    </ul>

    @if (!Model.UserAuthenticated)
    {        
        <div class="d-none d-lg-block">
            <a asp-area="" asp-controller="Account" asp-action="Login">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" fill="#FFFFFF" />
                    <path fill-rule="evenodd" fill="#E2FAFF"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>
            </a>
        </div>
    }else
    {
        <li class="nav-item dropdown li-style">    
            <img src="~/images/adicionar-contato.png" width="36" height="36" alt="">

            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Sair</a></li>
            </ul>
        </li>
    }
</div>


