@model AuthenticationViewModel

@if (Model.UserHasPermission)
{
    <li class="nav-item">
        <a class="nav-link click-scroll" asp-area="" asp-controller="Orcamento" asp-action="Index">Cadastro de Orçamentos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link click-scroll" asp-area="" asp-controller="Orcamento" asp-action="List">Lista de Orçamentos</a>
    </li>
}
