<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrcamentoMVC.Front</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/OrcamentoMVC.Front.styles.css" asp-append-version="true" />

    <link href="~/css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/templatemo-topic-listing.css" rel="stylesheet">
    <link href="~/css/site_table.css" rel="stylesheet">

    <!--

TemplateMo 590 topic listing

https://templatemo.com/tm-590-topic-listing

-->





</head>


<body id="top">
    <header>
        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" stroke="rgb(215,253,225)"
                            fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                            <path
                                d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z" />
                        </svg>
                        <span class="logo_title_color">OrçApp</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" asp-area="" asp-controller="Home"
                                    asp-action="Index">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" asp-area="" asp-controller="Orcamento"
                                    asp-action="Index">Cadastro de Orçamentos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" asp-area="" asp-controller="Orcamento"
                                    asp-action="List">Lista de Orçamentos</a>
                            </li>
                        </ul>

                        @await Html.PartialAsync("_LoginPartial")

                    </div>
                </div>
            </nav>
        </section>


    </header>
    <div class="container width-1000">
        <main role="main" class="pb-3">

            @RenderBody()

        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container flex-box-center">
            &copy; 2024 - OrcamentoMVC.Front - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
