@{
    ViewData["Title"] = "Orçamentos";
}

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->
<div class="container">
    <div class="row flex-box-center">
        <div class="col-md-offset-1 col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <a href="#" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus-circle"></i> Add
                                New</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Orçando</th>
                                <th>Data</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Orcamento Produto 1</td>
                                <td>18/07/2024 11:43:05</td>
                                <td>
                                    <a asp-action="Update" asp-route-id="item.OrcamentoId" title="Editar"
                                        class="btn btn-warning">
                                        <span class="fas fa-edit"></span>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="item.OrcamentoId" title="Deletar"
                                        class="btn btn-danger">
                                        <span class="fas fa-trash-alt"></span>
                                    </a>
                                    <a asp-action="Details" asp-route-id="item.OrcamentoId" title="Detalhes"
                                        class="btn btn-success">
                                        <span class="fas fa-check"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Orcamento Produto 2</td>
                                <td>18/07/2024 11:43:05</td>
                                <td>
                                    <a asp-action="AtualizarProduto" asp-route-id="item.ProdutoId" title="Editar"
                                        class="btn btn-warning">
                                        <span class="fas fa-edit"></span>
                                    </a>
                                    <a asp-action="DeletarProduto" asp-route-id="item.ProdutoId" title="Deletar"
                                        class="btn btn-danger">
                                        <span class="fas fa-trash-alt"></span>
                                    </a>
                                    <a asp-action="DetalhesProduto" asp-route-id="item.ProdutoId" title="Detalhes"
                                        class="btn btn-success">
                                        <span class="fas fa-check"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Orcamento Produto 3</td>
                                <td>18/07/2024 11:43:05</td>
                                <td>
                                    <a asp-action="AtualizarProduto" asp-route-id="item.ProdutoId" title="Editar"
                                        class="btn btn-warning">
                                        <span class="fas fa-edit"></span>
                                    </a>
                                    <a asp-action="DeletarProduto" asp-route-id="item.ProdutoId" title="Deletar"
                                        class="btn btn-danger">
                                        <span class="fas fa-trash-alt"></span>
                                    </a>
                                    <a asp-action="DetalhesProduto" asp-route-id="item.ProdutoId" title="Detalhes"
                                        class="btn btn-success">
                                        <span class="fas fa-check"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Orcamento Produto 4</td>
                                <td>18/07/2024 11:43:05</td>
                                <td>
                                    <a asp-action="AtualizarProduto" asp-route-id="item.ProdutoId" title="Editar"
                                        class="btn btn-warning">
                                        <span class="fas fa-edit"></span>
                                    </a>
                                    <a asp-action="DeletarProduto" asp-route-id="item.ProdutoId" title="Deletar"
                                        class="btn btn-danger">
                                        <span class="fas fa-trash-alt"></span>
                                    </a>
                                    <a asp-action="DetalhesProduto" asp-route-id="item.ProdutoId" title="Detalhes"
                                        class="btn btn-success">
                                        <span class="fas fa-check"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Orcamento Produto 5</td>
                                <td>18/07/2024 11:43:05</td>
                                <td>
                                    <a asp-action="AtualizarProduto" asp-route-id="item.ProdutoId" title="Editar"
                                        class="btn btn-warning">
                                        <span class="fas fa-edit"></span>
                                    </a>
                                    <a asp-action="DeletarProduto" asp-route-id="item.ProdutoId" title="Deletar"
                                        class="btn btn-danger">
                                        <span class="fas fa-trash-alt"></span>
                                    </a>
                                    <a asp-action="DetalhesProduto" asp-route-id="item.ProdutoId" title="Detalhes"
                                        class="btn btn-success">
                                        <span class="fas fa-check"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
