@{
    ViewData["Title"] = "Orçamentos";
}

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->
<div class="container">
    <div class="row flex-box-center">
        <div class="col-md-offset-1 col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <a href="#" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus-circle"></i> Add
                                New</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>#</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul class="action-list">
                                        <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a>
                                        </li>
                                        <li><a href="#" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
                                    </ul>
                                </td>
                                <td>1</td>
                                <td>Vincent Williamson</td>
                                <td>31</td>
                                <td><a href="#" class="btn btn-sm btn-success"><i class="fa fa-search"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="action-list">
                                        <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a>
                                        </li>
                                        <li><a href="#" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
                                    </ul>
                                </td>
                                <td>2</td>
                                <td>Taylor Reyes</td>
                                <td>22</td>
                                <td><a href="#" class="btn btn-sm btn-success"><i class="fa fa-search"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="action-list">
                                        <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a>
                                        </li>
                                        <li><a href="#" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
                                    </ul>
                                </td>
                                <td>3</td>
                                <td>Justin Block</td>
                                <td>26</td>
                                <td><a href="#" class="btn btn-sm btn-success"><i class="fa fa-search"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="action-list">
                                        <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a>
                                        </li>
                                        <li><a href="#" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
                                    </ul>
                                </td>
                                <td>4</td>
                                <td>Sean Guzman</td>
                                <td>26</td>
                                <td><a href="#" class="btn btn-sm btn-success"><i class="fa fa-search"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="action-list">
                                        <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a>
                                        </li>
                                        <li><a href="#" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
                                    </ul>
                                </td>
                                <td>5</td>
                                <td>Keith Carter</td>
                                <td>24</td>
                                <td><a href="#" class="btn btn-sm btn-success"><i class="fa fa-search"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
